:root {
  --primary: #b6ff00;
  --dark: #000000;
  --card: #111111;
  --text: #ffffff;
  --gray: #999999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--dark);
  color: var(--text);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}