.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;

  padding: 120px 8% 0;
  overflow: hidden;
}

/* Background Video */

.hero-video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  z-index: -2;
}

/* Dark Overlay */

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);

  z-index: -1;
}

/* Content */

.hero-content {
  max-width: 700px;
  color: white;
}

.hero-content h1 {
  font-weight: 800;
  line-height: 1.1;
  font-size: clamp(3rem, 8vw, 6rem);
  line-height: 1;
}

.hero-content h1 span {
  color: #b6ff00;
}

.hero-content h2 {
  margin: 20px 0;
  color: #d9d9d9;
}

.hero-content p {
  margin-bottom: 40px;
  line-height: 1.8;
}

/* Responsive */

@media (max-width: 768px) {
  .hero {
    justify-content: center;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 3rem;
  }
}

/* HERO BUTTONS */

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.primary-btn,
.secondary-btn {
  display: inline-block;
  padding: 15px 35px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.3s ease;
}

/* Explore Classes Button */

.primary-btn {
  background: #b6ff00;
  color: #000;
}

.primary-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(182, 255, 0, 0.5);
}

/* Join Now Button */

.secondary-btn {
  border: 2px solid #b6ff00;
  color: #fff;
  background: transparent;
}

.secondary-btn:hover {
  background: #b6ff00;
  color: #000;
  transform: translateY(-5px);
}

@media (max-width: 768px) {

  .hero {
    justify-content: center;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-content h2 {
    font-size: 1.3rem;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .primary-btn,
  .secondary-btn {
    width: 100%;
    /* max-width: 280px; */
    text-align: center;
  }
}